<div class="page-header justify-content-between align-items-center">
    <div class="start">
        <div class="title">
            <h2>Manage Site</h2>
        </div>
    </div>
    <div class="end">
        <button mat-flat-button color="accent" (click)="addNewSite()">
            <mat-icon>add_location_alt</mat-icon> &nbsp;
            <span>Add New Site</span>
        </button>
    </div>
</div>

<div style="padding: 0 20px" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- site ID Column -->
        <ng-container matColumnDef="siteId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Site ID </th>
            <td mat-cell *matCellDef="let element"> {{element.siteId}} </td>
        </ng-container>

        <!-- site name Column -->
        <ng-container matColumnDef="siteName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Site Name </th>
            <td mat-cell *matCellDef="let element"> {{element.siteName}} </td>
        </ng-container>

        <!-- AE id Column -->
        <ng-container matColumnDef="aeId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> AE ID </th>
            <td mat-cell *matCellDef="let element"> {{element.aeId}} </td>
        </ng-container>

        <!-- cewis id Column -->
        <ng-container matColumnDef="cewisId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CEWIS ID </th>
            <td mat-cell *matCellDef="let element"> {{element.cewisId}} </td>
        </ng-container>

        <!-- status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> 
                <div *ngIf="element.status === 'o'">Open</div>
                <div *ngIf="element.status === 'c'">Completed</div>
        </ng-container>

        <!-- action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon class="mr-2" color="primary" (click)="editSite(element)" matTooltip="Edit site">edit</mat-icon> &nbsp;
                <mat-icon class="mr-2" color="warn" (click)="deleteSite(element)" matTooltip="Delete site">delete</mat-icon>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="dataSource && dataSource.data.length" [pageSizeOptions]="pageSizeOptions"
        showFirstLastButtons="false">
    </mat-paginator>
</div>