<div class="page-header justify-content-between align-items-center">
  <div class="start">
    <div class="title">
      <h2>Manage Users</h2>
    </div>
  </div>
  <div class="end">
    <button mat-flat-button color="accent" (click)="addNewUser()">
      <mat-icon>person_add</mat-icon> &nbsp;
      <span>Add New User</span>
    </button>
  </div>
</div>

<div style="padding: 0 20px" class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- username Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- roleName Column -->
    <ng-container matColumnDef="roleName">
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td mat-cell *matCellDef="let element"> {{element.roleName}} </td>
    </ng-container>

    <!-- status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <!-- action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon class="mr-2" color="primary" (click)="editUser(element)">edit</mat-icon> &nbsp;
        <mat-icon class="mr-2" color="warn" (click)="deleteUser(element)">delete</mat-icon>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="dataSource && dataSource.data.length" [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons="false">
  </mat-paginator>
</div>