@import '../../variables';

.mat-list-base {
  padding: 0;

  .mat-list-item {
    height: auto;
    padding: 10px 0;
    border-bottom: 1px $light-grey solid;

    .mat-line:last-of-type {
      color: $grey;
      font-size: 12px;
    }

    .rule_status_OPEN {
      color: $grey;
    }

    .rule_status_INPROGRESS {
      animation: rotation 1s infinite linear;
    }

    .rule_status_PASS {
      color: $success;
    }

    .rule_status_FAIL {
      color: $danger;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

:host::ng-deep .mat-list-base .mat-list-item .mat-list-item-content,
:host::ng-deep .mat-list-base .mat-list-option .mat-list-item-content {
  padding: 0 15px;
}

form {
  display: flex;

  mat-form-field {
    width: 60%;
    padding: 5px;
  }

  button {
    margin: 15px 35px 30px 35px;
  }
}