<mat-toolbar color="primary">
    <span>{{appTitle}}</span>
    <span class="spacer"></span>
    <div class="top-menu">
        <a mat-stroked-button [routerLink]="'/users'" [routerLinkActive]="'mat-accent active-menu'">Users</a>
        <a mat-stroked-button [routerLink]="'/roles'" [routerLinkActive]="'mat-accent active-menu'">Roles</a>
        <a mat-stroked-button [routerLink]="'/rules'" [routerLinkActive]="'mat-accent active-menu'">Rules</a>
        <a mat-stroked-button [routerLink]="'/sites'" [routerLinkActive]="'mat-accent active-menu'">Sites</a>
        <a mat-stroked-button [routerLink]="'/triage'" [routerLinkActive]="'mat-accent active-menu'">Triage</a>
    </div>
    <div class="welcome-text">Welcome, <span>{{user.name}}</span></div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>person_pin</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
            <span>Logout</span>
        </button>
    </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>