<mat-toolbar color="primary">
    <span class="gap">{{data.title}}</span>
    <span class="filler"></span>
    <button mat-icon-button (click)="onNoClick()" aria-label="close icon">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
<div mat-dialog-content [formGroup]="roleForm">
    <ul class="text-danger" *ngIf="errors.length">
        <li *ngFor="let error of errors" class="text-error">
            {{error.msg}}
        </li>
    </ul>
    <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
        <input matInput formControlName="role" placeholder="Enter the role name">
        <mat-error *ngIf="role?.errors?.required">Role is required</mat-error>
        <mat-error *ngIf="role?.errors?.roleExists">Role already exists</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" placeholder="Enter the role description"></textarea>
    </mat-form-field>
</div>
<div mat-dialog-actions class="text-center">
    <button type="submit" mat-raised-button (click)="onSubmit()" color="primary" [disabled]="loading">
        {{data && data.role ? 'Update' : 'Save'}}
    </button>
    <button mat-stroked-button class="close" (click)="onNoClick()" color="warn">Cancel</button>    
</div>