<div class="login-card text-center mat-elevation-z8">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" placeholder="Enter the username">
                <mat-error *ngIf="getFormControl('username')?.errors?.required">Username is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" placeholder="Enter the password">
                <mat-error *ngIf="getFormControl('password')?.errors?.required">Password is required</mat-error>
            </mat-form-field>

            <br /><br />
            <button type="submit" mat-raised-button color="primary">
                Login
            </button>
        </form>
    </div>
</div>