<div class="page-header justify-content-between align-items-center">
    <div class="start">
        <div class="title">
            <h2>Manage Rules</h2>
        </div>
    </div>
    <div class="end">
        <button mat-flat-button color="accent" (click)="addNewRule()">
            <mat-icon>rule</mat-icon> &nbsp;
            <span>Add New Rule</span>
        </button>
    </div>
</div>

<div style="padding: 0 20px" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- title Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <!-- system Column -->
        <ng-container matColumnDef="system">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> System </th>
            <td mat-cell *matCellDef="let element"> {{element.system | uppercase}} </td>
        </ng-container>

        <!-- checkType Column -->
        <ng-container matColumnDef="checkType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Check Type </th>
            <td mat-cell *matCellDef="let element"> {{element.system === 'pg' ? element.sqlCheckType :
                (element.system === 'aws' ? 'S3' : element.checkType)}} </td>
        </ng-container>

        <!-- createdAt Column -->
        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
            <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
        </ng-container>

        <!-- action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon class="mr-2" color="primary" (click)="editRule(element)" matTooltip="Edit rule">edit
                </mat-icon> &nbsp;
                <mat-icon class="mr-2" color="warn" (click)="deleteRule(element)" matTooltip="Delete rule">delete
                </mat-icon>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="dataSource && dataSource.data.length" [pageSizeOptions]="pageSizeOptions"
        showFirstLastButtons="false">
    </mat-paginator>
</div>